/*--------------------
	 NAVIGATION
--------------------*/

/*------------------------------------------------------------------------- Hamburger menu toggle --*/

.toggle-offcanvas {
	background: $color-theme-dark;
	border-bottom-right-radius: 2px;
	display: inline-block;
	height: 40px;
	padding: 17.5px 11px;
	position: relative;
	text-align: center;
	width: 47px;
	z-index: 100;

	&:active {
		background: $color-theme-crimson;
	}
	span,
	span:before,
	span:after {
		background: $color-white;
		border-radius: 1px;
		content: '';
		display: block;
		height: 3px;
		position: absolute;
		transition: all 250ms ease-in-out;
		width: 24px;
	}
	span {
		&:before {
			top: -9px;
		}
		&:after {
			bottom: -9px;
		}
	}
	.nav-open & {
		background: $color-theme-crimson;

		span {
			background: transparent;

			&:before,
			&:after {
				top: 0;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

/*------------------------------------------------------------------------- Navigation --*/

.header .nav {
	background: $color-theme-dark;
	box-shadow: inset -8px 0 10px -6px rgba(0,0,0,0.7);
	padding: 12px 18px;

	@include mq($mq-large) {
		background: $color-nav-bg;
		border-bottom: 1px solid $color-border-light;
		box-shadow: none;
		padding: 12px 3%;
	}

	.active .nav-list-item-text {
		@include mq($mq-large) {
			border-bottom: 1px solid $color-disabled-rgba;
		}
	}
	&-list {
		font: 400 14px/1 $fontStack-sansSerif;
		list-style: none;
		letter-spacing: 2px;
		margin-bottom: 0;
		padding-left: 0;
		text-transform: uppercase;

		a {
			color: $color-theme-white;
			display: block;
			padding: 10px 8px 8px;
			position: relative;
			text-shadow: #000 0 0 3px;

			@include mq($mq-large) {
				color: $color-theme-dark;
				text-shadow: none;
			}

			&:hover,
			&:active,
			&:focus {
				text-decoration: none;
			}
			&:focus {
				color: $color-theme-crimson;
			}
			&:hover,
			&:active {
				color: $color-theme-crimson;
			}
			&.active {
				&:after {
					border: 3px solid transparent;
					border-left: 6px solid $color-theme-crimson;
					content: '';
					height: 1px;
					margin-top: -3px;
					position: absolute;
						left: -18px; top: 50%;
					width: 1px;

					@include mq($mq-large) {
						border-left: 3px solid transparent;
						border-top: 6px solid $color-theme-crimson;
						top: -12px;
						left: 50%;
						margin: 0 0 0 -3px;
					}
				}
			}
		}

		@include mq($mq-large) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding: 0;
			width: 100%;

			li {
				padding: 0 20px;
			}
		}
	}
}