/*--------------------
	 PRESENTATION
--------------------*/

/*------------------------------------------------------------------------- Basics --*/

body {
	background: $color-theme-white;
	color: $color-text;
	font: 300 16px $fontStack-sansSerif;
}
.layout-canvas {
	background: $color-bg;
}

/*-- Headings --*/

h1, h2, h3, h4, h5, h6 {
	font-family: $fontStack-serif;
	font-weight: 700;
	line-height: 1.2;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

/*-- Links --*/

a {
	color: $color-link;
	transition: all 200ms ease-in-out;

	&:hover {
		color: $color-link-hover;
		transition: all 200ms ease-in-out;
	}
}

/*-- Copy --*/

p {
	line-height: 20px;
}

/*-- Lists --*/

li {
	padding: 2px 0;
}
dt,
dd {
	display: inline;
}
dt {
	font-weight: 700;

	&:after {
		content: ': ';
	}
}
dd {
	&:after {
		content: '\A';
		display: block;
		height: 0;
		margin-bottom: 4px;
		white-space: pre-wrap;
	}
}

/*-- Code --*/

pre,
code {
	display: inline-block;
	font-size: 12px;
	padding: 3px 3px 2px;
	vertical-align: bottom;
}
pre {
	display: block;
	line-height: 16px;
	overflow-x: auto;
	padding: 8px;
}

/*-- Loading icon --*/

.loading {
	display: block;
	margin: 0 auto;
	height: 40px;
	width: 40px;
}

/*------------------------------------------------------------------------- Main Content --*/

.content-wrapper {
	margin: 0 auto;
	max-width: 1200px;
	padding: 3%;
}
.content-heading {
	font-size: 36px;
	margin-bottom: 30px;

	@include mq($mq-large) {
		margin-top: 0;
		text-align: center;
	}
}